In [22]:
!pip3 install git+https://github.com/JustAnotherArchivist/snscrape.git
!pip3 install pandas
!pip3 install numpy
!pip3 install matplotlib
!pip3 install seaborn
!pip3 install langdetect
!pip3 install nltk
!pip3 install regex

Defaulting to user installation because normal site-packages is not writeable
Collecting git+https://github.com/JustAnotherArchivist/snscrape.git
  Cloning https://github.com/JustAnotherArchivist/snscrape.git to /private/var/folders/11/p5g8ywbn75z7gllbvqjvfhb80000gn/T/pip-req-build-qbucqbnt
  Running command git clone --filter=blob:none --quiet https://github.com/JustAnotherArchivist/snscrape.git /private/var/folders/11/p5g8ywbn75z7gllbvqjvfhb80000gn/T/pip-req-build-qbucqbnt
  Resolved https://github.com/JustAnotherArchivist/snscrape.git to commit cbdaee6864aa8d3e9e4326d4fe224a517aabbc2c
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests[socks] in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from snscrape==0.4.3.20220107.dev73+gcbdaee6) (2.27.1)
Requirement already satisfied: lxml in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from snscrape==0.4.3.20220107.dev73+gcbdaee6) (4.9.2)
Requirement already satisfied: beautifulsoup4 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from snscrape==0.4.3.20220107.dev73+gcbdaee6) (4.11.1)
Requirement already satisfied: filelock in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from snscrape==0.4.3.20220107.dev73+gcbdaee6) (3.4.2)
Requirement already satisfied: soupsieve>1.2 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from beautifulsoup4->snscrape==0.4.3.20220107.dev73+gcbdaee6) (2.3.2.post1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from requests[socks]->snscrape==0.4.3.20220107.dev73+gcbdaee6) (1.26.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from requests[socks]->snscrape==0.4.3.20220107.dev73+gcbdaee6) (2.0.10)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests[socks]->snscrape==0.4.3.20220107.dev73+gcbdaee6) (2020.12.5)
Requirement already satisfied: idna<4,>=2.5 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from requests[socks]->snscrape==0.4.3.20220107.dev73+gcbdaee6) (3.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from requests[socks]->snscrape==0.4.3.20220107.dev73+gcbdaee6) (1.7.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/elenado/Library/Python/3.9/lib/python/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from pandas) (1.22.1)
Requirement already satisfied: six>=1.5 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/elenado/Library/Python/3.9/lib/python/site-packages (1.22.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /Users/elenado/Library/Python/3.9/lib/python/site-packages (3.6.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.0.6)
Requirement already satisfied: cycler>=0.10 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib) (3.0.6)
Requirement already satisfied: packaging>=20.0 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib) (21.3)
Requirement already satisfied: numpy>=1.19 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.22.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib) (9.0.0)
Requirement already satisfied: six>=1.5 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /Users/elenado/Library/Python/3.9/lib/python/site-packages (0.12.1)
Requirement already satisfied: pandas>=0.25 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from seaborn) (1.5.2)
Requirement already satisfied: numpy>=1.17 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from seaborn) (1.22.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from seaborn) (3.6.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.6)
Requirement already satisfied: contourpy>=1.0.1 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: cycler>=0.10 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.0.0)
Requirement already satisfied: pytz>=2020.1 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from pandas>=0.25->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: langdetect in /Users/elenado/Library/Python/3.9/lib/python/site-packages (1.0.9)
Requirement already satisfied: six in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from langdetect) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in /Users/elenado/Library/Python/3.9/lib/python/site-packages (3.7)
Requirement already satisfied: joblib in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from nltk) (2022.10.31)
Requirement already satisfied: click in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from nltk) (8.0.3)
Requirement already satisfied: tqdm in /Users/elenado/Library/Python/3.9/lib/python/site-packages (from nltk) (4.62.3)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: regex in /Users/elenado/Library/Python/3.9/lib/python/site-packages (2022.10.31)

In [1]:
#importing modules
import snscrape.modules.twitter as sntwitter
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import regex as re
import os

from langdetect import detect_langs
from nltk.tokenize import word_tokenize
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk
nltk.download('punkt')
nltk.download('vader_lexicon')

In [ ]:
# Creating list to append tweet data to
attributes_container = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#wednesdaynetflix since:2022-11-23 until:2022-12-15').get_items()):
    if i>100000:
        break
    attributes_container.append([tweet.user.verified,tweet.user.followersCount,tweet.user.location, tweet.date, tweet.likeCount,tweet.retweetCount, tweet.sourceLabel, tweet.lang, tweet.content])
    
# Creating a dataframe to load the list
tweets_df = pd.DataFrame(attributes_container, columns=["User Verified","Followers","Location", "Date Created", "Likes", "Retweets", "Source","Language", "Tweet"])

In [51]:
tweets_df.to_csv("Wednesday-12-15.csv")

In [3]:
tweets = pd.read_csv('Wednesday-12-15.csv',low_memory=False)
tweets = tweets.rename(columns={'Unnamed: 0': 'ID'})
tweets.sample(10)

,ID,User Verified,Followers,Location,Date Created,Likes,Retweets,Source,Language,Tweet
91689,91689,False,2525.0,"Portland, OR, USA, NoAm, Terra",2022-11-24 05:32:10+00:00,2.0,0.0,Twitter Web App,qme,@CocoDaBear #WednesdayNetflix https://t.co/mEg...
61865,61865,False,64.0,idk u tell me,2022-11-27 17:32:20+00:00,0.0,0.0,Twitter for iPhone,en,I FINISHED SZN 1 OF WEDNESDAY I LOVED IT. JENN...
78240,78240,False,2201.0,"Hail, Kingdom of Saudi Arabia",2022-11-25 19:39:11+00:00,2.0,1.0,Twitter for iPhone,ar,ÿ®ŸÇÿ∂Ÿä ÿ®ŸÇŸäÿ© ÿßŸÑŸÑŸäŸÑÿ© ÿπŸÑŸâ #wednesdaynetflix üçøüç∫ http...
77704,77704,False,26549.0,NaN,2022-11-25 20:48:21+00:00,1.0,0.0,Twitter for iPhone,en,Get into #wednesdaynetflix y‚Äôall
49372,49372,False,294.0,NaN,2022-11-29 08:15:31+00:00,0.0,0.0,Twitter for iPhone,en,i‚Äôm so confused. if they‚Äôve a school full of m...
7619,7619,False,129.0,At home,2022-12-10 13:05:33+00:00,0.0,0.0,Twitter Web App,de,"Hab erst 3 Folgen von Wednesday gesehen, aber ..."
16290,16290,False,304.0,Entre Ja√©n y M√°laga,2022-12-06 19:38:58+00:00,0.0,0.0,Twitter for iPhone,es,Me he tirado todos los cap√≠tulos de #Wednesday...
73962,73962,False,154.0,"Cebu,Philippines",2022-11-26 07:40:37+00:00,0.0,0.0,Twitter for iPad,en,can christina ricci still do her wednesday imp...
12206,12206,False,3.0,‡πÇ‡∏¢‡∏ä‡∏¥‡πÄ‡∏î‡∏ôüêôü™ö,2022-12-08 09:48:17+00:00,1.0,0.0,Twitter for Android,th,‡∏ß‡∏±‡∏ô‡∏û‡∏∏‡∏ò‡πÅ‡∏ï‡πà‡∏•‡∏á‡∏ß‡∏±‡∏ô‡∏û‡∏§‡∏´‡∏±‡∏™ #wednesdaynetflix https://...
93568,93568,False,21.0,Southern Californication,2022-11-24 02:42:21+00:00,0.0,0.0,Twitter Web App,en,@jennaortega is absolutely killing it as #wedn...

In [226]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100002 entries, 0 to 100001
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ID             100002 non-null  int64
 1   User Verified  100001 non-null  object
 2   Followers      100001 non-null  float64
 3   Location       68118 non-null   object
 4   Date Created   100001 non-null  object
 5   Likes          100001 non-null  float64
 6   Retweets       100001 non-null  float64
 7   Source         100001 non-null  object
 8   Language       100001 non-null  object
 9   Tweet          100002 non-null  string
dtypes: float64(3), int64(1), object(5), string(1)
memory usage: 7.6+ MB

In [155]:
#statistical description of the dataset
tweets.describe()

                  ID     Followers          Likes       Retweets
count  100002.000000  1.000010e+05  100001.000000  100001.000000
mean    50000.500000  7.261134e+03      45.809682       7.163318
std     28868.235147  1.676939e+05     979.590306     148.416983
min         0.000000  0.000000e+00       0.000000       0.000000
25%     25000.250000  9.100000e+01       0.000000       0.000000
50%     50000.500000  3.480000e+02       1.000000       0.000000
75%     75000.750000  1.072000e+03       3.000000       0.000000
max    100001.000000  1.683665e+07  186465.000000   26569.000000

In [229]:
#sum all numeric columns in dataset
all_sum_table=tweets.sum(numeric_only=True)
all_sum_table.to_csv("all_sum_table.csv")
all_sum_table

ID           5.000150e+09
Followers    7.261207e+08
Likes        4.581014e+06
Retweets     7.163390e+05
dtype: float64

In [243]:
#substituting the short form language names for the long names
lang_code = pd.read_csv('language_codes.csv')
dict_lang_code = dict(zip(lang_code['Code'], lang_code['Language']))
tweets['Language'] = tweets['Language'].replace(dict_lang_code)

In [244]:
each_lang_count=tweets.Language.value_counts()[:5]
each_lang_count.to_csv("each_lang_count.csv")
each_lang_count

English       63489
Spanish        7517
Portuguese     5517
Turkish        3943
Italian        3085
Name: Language, dtype: int64

In [235]:
# Create a list of dictionaries with the data
langtotal = []

# Calculate the sum using the tweets dataframe
langnum = tweets['Language'].nunique()

# Add a dictionary to the data list with the name and sum
langtotal.append({'Total Languages': langnum})

# Create a Pandas dataframe from the list of dictionaries
langtotal_df = pd.DataFrame(langtotal)

#save as csv
langtotal_df.to_csv("langtotal.csv")
langtotal_df

   Total Languages
0               55

In [240]:
tweet_source=tweets.Source.value_counts() [:4]
tweet_source.to_csv("tweet_source.csv")
tweet_source

Twitter for iPhone     48482
Twitter for Android    34975
Twitter Web App        13176
Twitter for iPad        2118
Name: Source, dtype: int64

In [251]:
account_verification=tweets['User Verified'].value_counts()
account_verification.to_csv("account_verification.csv")
account_verification

False    98850
True      1151
Name: User Verified, dtype: int64

In [ ]:
# tweets_loc = tweets.query("Location != 'Spark'")
# tweets_loc = tweets.loc[tweets["Location"] == "she/her" ]

In [ ]:
tweets.sample(10)

In [118]:
#This function substitutes the current location for the country name
def get_country(inc_c, case, cor_c):
    tweets.loc[tweets['c_Location'].str.contains(inc_c, case=case, na=False), 'c_Location'] = cor_c

In [253]:
#duplicate the location column to another column 
tweets['c_Location'] = tweets['Location']
    
#substitute state names in the US
list_us = ['USA', 'KS', 'FL', 'CA', 'GA', 'AZ', 'CO','IL', 'TX', 'PA', 'DC', 'TN', 'NY', 'WA', 'NYC', 'NC', 'NV', 'OH', 'LA', 'MA', 'Los Angeles' 'new york','New York', 'Los Angeles']
for states in list_us:
    get_country(states, True, 'United States')

#substitute incorrect spelling for correct spelling
dicts = {'ƒ∞stanbul, T√ºrkiye':'Turkey', 'S√£o Paulo, Brasil':'Brazil','brazil':'Brazil', 'brasil':'Brazil','London, England':'United Kingdom','England, United Kingdom':'United Kingdom', 'Lagos, Nigeria':'Nigeria'}
for key, val in dicts.items():
    get_country(key, False, val)
    
#minor formatting
tweets['c_Location'].replace(['None', 'she/her'], np.nan, inplace=True)

In [254]:
top_countries=tweets.c_Location.value_counts()[:10]
top_countries.to_csv("top_countries.csv")
top_countries

United States     11016
Brazil             2017
United Kingdom      885
Turkey              524
Nigeria             299
Italia              242
Canada              241
M√©xico              229
France              229
London              209
Name: c_Location, dtype: int64

In [249]:
#create a list of cast names
cast = ['Wednesday', 'Marilyn', 'Morticia', 'Larissa', 'Enid', 
        'Pugsley', 'Lurch', 'Tyler', 'Ajax', 'Xavier', 'Bianca', 'Kinbott', 'Donovan']

# Create a list of dictionaries with the data
data = []

# Iterate through the names in the cast list
for name in cast:

    # Calculate the sum using the tweets dataframe
    sum = tweets['Tweet'].str.count(name).sum()

    # Add a dictionary to the data list with the name and sum
    data.append({'Character Name': name, 'Mentions': sum})

# Create a Pandas dataframe from the list of dictionaries
df = pd.DataFrame(data)

In [250]:
# Reorder the sum column in descending order
top_char = df.sort_values(by='Mentions', ascending=False)[:3]
top_char.to_csv("top_char.csv")
top_char

  Character Name  Mentions
0      Wednesday   33190.0
4           Enid    2959.0
7          Tyler    2544.0

In [262]:
tweets_time = tweets.iloc[:, [0,4]]
tweets_time.to_csv("tweets_time.csv")
tweets_time

            ID               Date Created
0            0  2022-12-14 23:59:51+00:00
1            1  2022-12-14 23:59:33+00:00
2            2  2022-12-14 23:59:29+00:00
3            3  2022-12-14 23:58:56+00:00
4            4  2022-12-14 23:58:17+00:00
...        ...                        ...
99997    99997  2022-11-23 16:49:19+00:00
99998    99998  2022-11-23 16:49:18+00:00
99999    99999  2022-11-23 16:49:14+00:00
100000  100000  2022-11-23 16:49:13+00:00
100001  100001  2022-11-23 16:49:13+00:00

[100002 rows x 2 columns]

In [5]:
#replace the '\n' characters with space
tweets['Tweet'] = tweets['Tweet'].replace('\n', ' ', regex=True)

In [16]:
#change Tweet object column to string data type
tweets['Tweet'] = tweets['Tweet'].astype("string")
#get the sentiment scores using Sentiment Intensity Analyzer
sia = SentimentIntensityAnalyzer()
tweets['sentiment_scores'] = tweets['Tweet'].apply(sia.polarity_scores)
tweets['sentiment_scores'] = tweets['sentiment_scores'].apply(lambda x: x['compound'])

In [17]:
#This functions returns Positive, Negative or Neutral depending on the state of the sentiment score
def get_sentiment(tweet):
    if tweet > 0:
        return "Positive"
    elif tweet == 0:
        return "Neutral"
    else: return "Negative"

In [18]:
#applying the get_sentiment function
tweets['sentiment'] = tweets['sentiment_scores'].apply(get_sentiment)

In [20]:
#checking for changes
tweet_sentiment=tweets['sentiment'].value_counts()
tweet_sentiment.to_csv("tweet_sentiment.csv")
tweet_sentiment

Neutral     51928
Positive    34449
Negative    13625
Name: sentiment, dtype: int64